body {
	background: #f3f3f3;
	font-family: verdana;
	max-width: 900px;
	margin: auto;
}

.photo {
	border-radius: 50px;
	border: 3px solid gold;
}

#title, .subtitle, .post-title {
	color: gold;
}

#title {
	font-size: 40px;
	text-transform: uppercase;
}

a {
	text-decoration: line-through;
	color: green;
}

.post-title {
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
}

.post {
	background: #fff;
	padding: 15px;
	border: 3px solid black;
	margin-bottom: 15px;
	border-radius: 5px;
}

.post-content {
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
	text-align: justify;
}

.post-image {
	margin-bottom: 15px;
	width: 150px;
}

.contacte-list {
	list-style-type: none;
	padding-left: 1px;
}

.contacte-list li a {
	text-decoration: none;
}